* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 3px !important;
}

.row > * {
  margin: 0;
  padding: 0;
}
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-12 .col-md-3,
.col-md-4,
.col-md-6,
.col-md-12 .col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-12 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0 !important;
  font-weight: 600 !important;
}
h4 {
  margin: 0 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000249 !important;
}

h5 {
  margin: 0;
  font-size: 15px !important;
  line-height: unset;
}

h6 {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 0;
}

p {
  margin: 0 !important;
}

ul {
  padding-left: 0;
}

table {
  background-color: #fff !important;
}

table.dataTable {
  border-radius: 10px;
}

td {
  font-size: 15px !important;
}

.page-link {
  color: #000249 !important;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #000249 !important;
  border-color: transparent !important;
}

.page-link:focus {
  box-shadow: none !important;
}

.page-item.active .page-link {
  box-shadow: none !important;
}

.icons_wrapper {
  display: flex;
}

.ed_div {
  padding: 0 3px;
}

.ed_div i {
  font-size: 18px;
}

.doc_icon {
  color: rgb(255, 166, 0);
}

.verified_icon {
  color: rgb(255, 0, 85);
}

.edit_icon {
  color: #198754;
}

.eye_icon {
  color: #0d6efd;
}

.print_icon {
  background: linear-gradient(#dd1717, #000249);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.delete_icon {
  color: #dd1717;
}

.add-btn {
  border: none;
  background: linear-gradient(45deg, #000249, #dd1717);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.5s ease-out;
}
.add-btn:hover {
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.4);
}

.modal-title {
  font-size: 25px;
  color: #000249;
  font-weight: 700;
}

.cancel-btn,
.submit-btn,
.search-btn {
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  padding: 7px 30px;
  letter-spacing: 0.2px;
  transition: 0.5s ease-out;
}

.cancel-btn {
  background-color: #dd1717;
}

.cancel-btn:hover {
  background-color: #000249;
}

.submit-btn {
  background-color: #000249;
}

.submit-btn:hover {
  background-color: #dd1717;
}
.search-btn {
  background-color: #000249;
}

.form-label {
  font-size: 12px;
  text-transform: uppercase;
  color: #3e3e3e;
  font-weight: 500;
  margin-bottom: 0 !important;
  padding-left: 5px;
  font-weight: 600;
}

.form-select {
  width: 100%;
  border-radius: 7px;
  padding: 6px 10px;
  border: 0.5px solid #e5e5e5;
  outline: none;
  font-size: 15px;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0.5px solid #e5e5e5;
  outline: none;
  /* margin-top: 3px; */
  position: relative;
  display: block;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.form-control:hover,
.form-select:hover {
  border-color: #000249;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #000249 !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  font-size: 13px;
  color: #d6d6d6;
}

textarea {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  transition: 0.5s ease-out;
  width: 100%;
}

textarea:hover {
  border: 1px solid #000249;
}

textarea:focus {
  outline: none;
  border: 1px solid #000249;
}

.form-check-input:checked {
  background-color: #000249 !important;
  border-color: #000249 !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.modal-dialog-60 {
  max-width: 60% !important;
}

.modal-dialog-30 {
  max-width: 30% !important;
}

.section_wise_heading {
  color: #000249;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding-bottom: 10px;
  font-weight: 600;
}

.section_wise_sub_heading {
  color: #000249;
  padding-bottom: 10px;
  font-weight: 500;
}

hr {
  background-color: rgb(194, 194, 194);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

.logout a {
  font-size: 16px;
  color: #3e3e3e;
}

.logout a:hover {
  color: #3e3e3e;
}

.timeline_heading {
  color: #000249;
  text-decoration: none;
}

.timeline_icon {
  background-color: #000249;
}

.timeline > div > .fas {
  background-color: rgb(221, 23, 23, 60%) !important;
  color: #fff !important;
}

.timeline > div > .timeline-item > .timeline-body {
  padding: 0 !important;
}

.timeline > div {
  margin-bottom: 30px !important;
}

.timeline_bg {
  background-color: #f4f3f3;
}

.timeline-body p {
  font-size: 14px;
}

.timeline_bg_p {
  font-size: 13px !important;
}

.is_nominee_text {
  color: #a01644;
}

.view_text label{
  font-size: 15px;
}

.view_text p {
  font-size: 15px;
  padding-left: 4px;
  color: #000249;
}

.no_pagination .dataTables_paginate,
.no_pagination .dataTables_info {
  display: none !important;
}
