.top-dashboard-outer-wrapper {
  padding: 15px 0;
  position: relative;
}

.top-dashboard-inner-wrapper {
  border: 1px solid var(--bs-border-color);
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  box-shadow: var(--bs-box-shadow);
}

.top-dashboard-inner-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(180deg, #000249 0%, #dd1717 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top-dashboard-inner-wrapper::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  content: "";
  background: linear-gradient(82.59deg, #000249 0%, #dd1717 100%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dashoboard-card-title {
  color: var(--bs-text-color);
  margin-bottom: 5px;
}

.dashoboard-card-count {
  color: #000249 !important;
}

.middle-dashboard-outer-wrapper {
  padding: 15px 0;
  position: relative;
}

.middle-dashboard-inner-wrapper1,
.middle-dashboard-inner-wrapper2,
.middle-dashboard-inner-wrapper3,
.middle-dashboard-inner-wrapper4 {
  border: 1px solid var(--bs-border-color);
  padding: 40px 30px;
  border-radius: 8px;
  position: relative;
  box-shadow: var(--bs-box-shadow);
  height: 130px;
}
.middle-dashboard-inner-wrapper1 {
  background-color: #ff5d55;
}
.middle-dashboard-inner-wrapper2 {
  background-color: #85d757;
}
.middle-dashboard-inner-wrapper3 {
  background-color: #3d8af7;
}
.middle-dashboard-inner-wrapper4 {
  background-color: #6334e3;
}

.middle-dashboard-inner-wrapper1 h4,
.middle-dashboard-inner-wrapper2 h4,
.middle-dashboard-inner-wrapper3 h4,
.middle-dashboard-inner-wrapper4 h4,
.middle-dashboard-inner-wrapper1 h5,
.middle-dashboard-inner-wrapper2 h5,
.middle-dashboard-inner-wrapper3 h5,
.middle-dashboard-inner-wrapper4 h5 {
  color: #fff;
}

.bottom-dashboard-outer-wrapper {
  padding: 15px 0;
}

.bottom-dashboard-inner-wrapper1,
.bottom-dashboard-inner-wrapper2 {
  border: 1px solid var(--bs-border-color);
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  box-shadow: var(--bs-box-shadow);
}

.btm-dash-card-title-bg1,
.btm-dash-card-title-bg2 {
  padding: 15px 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.btm-dash-card-title-bg1 {
  background-color: #000249;
}
.btm-dash-card-title-bg2 {
  background-color: #dd1717;
}
.btm-dash-card-title-bg1 h5,
.btm-dash-card-title-bg2 h5 {
  color: #fff;
  font-size: 20px;
}
.btm-dash-card-title-bg1 p,
.btm-dash-card-title-bg2 p {
  color: rgb(255, 255, 255, 0.7);
  font-size: 14px;
}

.bottom-dashboard-inner-wrapper1 ul li,
.bottom-dashboard-inner-wrapper2 ul li {
  border-bottom: 1px solid var(--bs-border-color);
}

.app-pen-count {
  background-color: #e5e5e5;
  padding: 3px 15px;
  border-radius: 50px;
}
