.header {
  height: 100px;
  padding-left: 250px;
  padding-right: 20px;
  padding-top: 15px;
}

.header_fixed {
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  padding: 5px 20px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  width: 100%;
}

.search_input {
  padding: 15px 10px;
  width: 350px;
  height: 30px;
  background: none;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  font-size: 13px;
  color: #000249;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.header_search_icon {
  position: absolute;
  top: 4px;
  left: 10px;
}

.icon_color {
  color: #868686;
}
.icon_size {
  font-size: 20px;
}

/* Notification */
.header_notification {
  position: relative;
}

.notification_count {
  background-color: #000249;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -11px;
  color: #fff;
  font-size: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_profile_wrapper {
  width: 38px;
  height: 38px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_profile {
  font-size: 20px;
}

.header_profile_name p {
  margin: 0;
}

.header_profile_name p:first-child {
  font-weight: 600;
  font-size: 15px;
}

.header_profile_name p:last-child {
  font-size: 13px;
}

.dropdown-menu {
  transform: none;
}

.dropdown-list {
  transform: translate(15px, 45px) !important;
  cursor: pointer;
}

.logout {
  font-size: 16px;
}

.setting {
  animation: rotate-animation 5s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
