.mobile_view {
  display: none !important;
}

@media (max-width: 576px) {
  .sidebar,
  .search_input,
  .bi-search,
  .header_right_side,
  .header_notification {
    display: none;
  }
  .header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .content {
    margin-left: 0;
  }

  .modal-dialog-30 {
    max-width: 100% !important;
  }
  .login-inner-wrapper {
    padding: 20px;
  }
  .login-vector .login-img {
    display: none;
  }
  .login-outer-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .login-heading h4 {
    margin-top: 0 !important;
  }

  .header_profile,
  .header_profile_name p {
    color: #fff;
    opacity: 0.8;
  }

  .header_profile_wrapper {
    width: 45px;
    height: 45px;
  }

  .header_profile_name p:first-child {
    font-size: 18px;
  }
  .header_profile_name p:last-child {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .sidebar,
  .search_input,
  .bi-search,
  .header_right_side,
  .header_notification {
    display: none;
  }
  .header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .content {
    margin-left: 0;
  }
}

/* Header */
.header_menu {
  color: #000 !important;
  font-size: 25px;
}
.mobile_view {
  display: none;
}
.mb_sidebar_menu_wrapper {
  background-color: #000249;
  height: 100%;
  overflow-y: scroll;
}
.mb_sidebar_menu {
  list-style: none;
}
.mb_sidebar_menu li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: all 0.5s;
  padding: 10px 5px;
  border-bottom: 0.5px solid #191932;
  width: 100%;
}
.mb_sidebar_menu li a p {
  margin: 0;
  padding-left: 10px;
}

.offcanvas-body {
  padding: 0 !important;
}
/* Accordion */
.accordion-button:not(.collapsed),
.accordion-item,
.accordion-button {
  background-color: transparent !important;
  padding: 0;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  box-shadow: none !important;
}

.accordion-button {
  padding: 0 !important;
  color: #fff !important;
}

.accordion-button::after {
  background-image: none !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  position: absolute;
  right: 10px;
  background-size: 13px !important;
}
.accordion-button:hover .accordion-button:hover::after {
  background-color: #32346d;
  border-radius: 8px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-body {
  padding: 0px 0px 0px 30px !important;
}

.accordion_sidebar_menu {
  padding-left: 0;
  list-style: none;
}
.accordion_sidebar_menu::marker {
  color: #fff;
}

.accordion_sidebar_icons {
  font-size: 7px;
}

