@media (max-width: 576px) {
  .header-right {
    display: none !important;
  }
  .header-fixed {
    position: fixed;
    top: 10px;
    z-index: 1024;
    right: 10px;
    left: 10px;
    margin: 0 auto;
  }
  .header-menu {
    display: block;
  }
  .mb-offcanvas {
    background-color: var(--bs-blue);
  }
  .offcanvas-start {
    width: 300px;
  }
  .offcanvas-img-inner-wrapper {
    background-color: #fff;
    padding: 10px !important;
    padding-right: 20px !important;
  }
  .offcanvas-img-inner-wrapper .offcanvas-logo {
    width: 200px;
  }
  .offcanvas-header {
    padding: 0;
  }
  .offcanvas-list ul {
    list-style: none;
    padding-left: 0;
  }
  .offcanvas-list ul li {
    color: #fff;
    padding: 10px 0;
    border-bottom: 0.5px solid #191932;
  }
  .offcanvas-list ul li a {
    text-decoration: none;
  }
  .offcanvas-list ul li a:hover {
   color: #fff;
  }
  .offcanvas-sidebar-title{
    color: #fff;
    transition: all 1s;
    font-size: 13px;
    letter-spacing: 0.3px;
    opacity: 0.7;
  }
  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: transparent;
  }
  .accordion-item {
    background-color: transparent;
    border: none;
  }
  .accordion-button {
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.3px;
    opacity: 0.7;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-flush .accordion-item:last-child {
    width: 100%;
  }
  .accordion-body {
    padding: 10px 20px;
  }
  .accordion-button::after {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
    background-image: none;
  }
  .accordion-button:not(.collapsed)::after {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transition: border-width 150ms ease-in-out;
    transform: rotate(45deg);
    background-image: none;
  }
}
