::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000249;
}
::-webkit-scrollbar-thumb {
  background: #000249;
}

.form-group {
  padding: 0 5px 15px 5px;
  position: relative;
}

.form-label {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--bs-heading-color);
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 5px;
  font-weight: 600;
}

.form-select {
  width: 100%;
  border-radius: 7px;
  padding: 6px 10px;
  border: 0.5px solid #e5e5e5;
  outline: none;
  font-size: 15px;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0.5px solid var(--bs-border-color);
  outline: none;
  margin-top: 3px;
  position: relative;
  display: block;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.form-control:hover,
.form-select:hover {
  border-color: #000249;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #000249;
}

.form-control::placeholder {
  font-size: 13px;
  color: #d6d6d6;
}

textarea {
  border-radius: 10px;
  border: 1px solid var(--bs-border-color);
  transition: 0.5s ease-out;
  width: 100%;
}

textarea:hover {
  border: 1px solid var(--bs-blue);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--bs-blue);
}

.btn {
  border: none;
  background-color: var(--bs-blue);
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 7px 30px;
  text-transform: uppercase;
  transition: 0.5s ease-out;
}

.icons-color {
  color: #868686;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: var(--bs-red);
}

.btn:focus {
  box-shadow: none;
}

.ed-div {
  padding: 0 3px;
}

.doc-icon {
  color: rgb(255, 166, 0);
}

.verified-icon {
  color: rgb(255, 0, 85);
}

.edit-icon {
  color: #198754;
}

.eye-icon {
  color: #0d6efd;
}

.delete-icon {
  color: var(--bs-red);
}

.add-btn {
  border: none;
  background: linear-gradient(45deg, var(--bs-blue), var(--bs-red));
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.5s ease-out;
}
.add-btn:hover {
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.4);
}

hr {
  background-color: rgb(194, 194, 194);
}

.modal-header {
  border-bottom: 1px solid var(--bs-border-color);
}

.modal-body {
  padding: 16px 30px;
}

.modal-footer {
  border-top: none;
}

.modal-dialog-60 {
  max-width: 60%;
}

.modal-dialog-30 {
  max-width: 30%;
}

.cancel-btn,
.submit-btn {
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 7px 30px;
  text-transform: uppercase;
  transition: 0.5s ease-out;
}

.cancel-btn {
  background-color: var(--bs-red);
}

.cancel-btn:hover {
  background-color: var(--bs-blue);
}

.submit-btn {
  background-color: var(--bs-blue);
}

.submit-btn:hover {
  background-color: var(--bs-red);
}
.form-control.is-invalid {
  background-image: none;
  border-color: var(--bs-red);
  padding-right: inherit;
}
.invalid-feedback {
  font-size: 12px;
}

.form-control.is-invalid:focus,
.btn-close:focus,
.form-select.is-invalid:focus {
  box-shadow: none;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  background-image: none;
}

.form-check-input:checked {
  background-color: var(--bs-blue);
  border-color: var(--bs-blue);
}

.form-check-input:focus {
  box-shadow: none;
}
