.img-outer-wrapper {
  height: 70px;
}

.img-inner-wrapper {
  position: absolute;
  top: 0;
  width: 240px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: all 0.8s;
  z-index: 9999;
}
.logo {
  height: 45px;
}

.left-side .img-inner-wrapper p {
  color: #000249;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  padding-left: 20px;
  visibility: hidden;
  background-color: white;
  transition: all 10s;
  margin-bottom: 0;
}

.left-side:hover .img-inner-wrapper p {
  visibility: visible;
}

.sidebar-menu .sidebar-menu-ul {
  padding-left: 0;
  padding: 10px 15px;
}

.sidebar-menu .sidebar-menu-ul .menu-item {
  cursor: pointer;
  list-style: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
}

.left-side .sidebar-menu .sidebar-menu-ul .menu-item .menu-toggle {
  transition: all 0.5s;
  border-radius: 8px;
  border-bottom: 0.5px solid #191932;
  text-decoration: none;
  padding: 10px 0;
  margin: 3px 0;
  width: 240px;
}

.left-side .sidebar-menu .sidebar-menu-ul .menu-item:hover .menu-toggle {
  background-color: #32346d;
  transition: all 0.3s;
}
.active .menu-link {
  background-color: #32346d;
}

.sidebar-title {
  color: #fff;
  padding-left: 20px;
  transition: all 0.5s;
  font-size: 13px;
  opacity: 0.7;
}
.left-side .sidebar-menu .sidebar-menu-ul .menu-item:hover .sidebar-title {
  color: #fff;
  padding-left: 25px;
  opacity: 1;
  font-weight: 600;
}

.sidebar-menu .sidebar-menu-ul .menu-item .sidebar-icons {
  color: #fff;
  margin-left: 7px;
  opacity: 0.7;
}
.left-side .sidebar-menu .sidebar-menu-ul .menu-item:hover .sidebar-icons {
  color: #fff;
  opacity: 1;
  font-weight: 600;
}

/* Sub Menu */

.menu-sub {
  display: none;
  /* display: block; */
  padding-left: 10px;
  padding-top: 5px;
  width: 240px;
}
.left-side .sidebar-menu .sidebar-menu-ul .menu-item:hover .menu-sub {
  display: block;
}

.left-side .sidebar-menu .sidebar-menu-ul .menu-item .menu-sub .menu-link {
  padding: 10px;
  position: relative;
}

.left-side .sidebar-menu .sidebar-menu-ul .menu-item .menu-sub .menu-link:hover {
  display: flex;
  background-color: #32346d;
}

.menu-sub .sub-menu-item {
  list-style: none;
}

.menu-sub .sub-menu-item .sub-menu-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #191932;
  padding: 10px;
  border-radius: 7px;
}

.menu-sub .sub-menu-item .sub-menu-link div {
  padding-left: 10px;
  transition: all 0.5s;
  font-size: 13px;
}
.menu-sub .sub-menu-item .sub-menu-link div {
  
  opacity: 0.7;
} 
.menu-sub .sub-menu-item .sub-menu-link:hover div {
  padding-left: 15px;
  color: #fff;
  opacity: 1;
  font-weight: 600;
}

.menu-sub .sub-menu-item.active{
  background-color: #32346d;
  border-radius: 7px;
}


.left-side .sidebar-title::after{
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  color: #fff;
  position: absolute;
  right: 10px;
  visibility: hidden;
  transition-delay: 0.3s;
  transition-duration: 0s;
}

.left-side:hover .sidebar-title::after{
  visibility: visible;
}

.menu-toggle:hover .sidebar-title::after {
  transform: rotate(90deg);
}





