.table-main-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: var(--bs-box-shadow);
}

.show-page {
  display: flex;
  align-items: center;
}

.show-page span,
.pagination-arrow,
.page-link {
  font-size: 14px;
}
.table-search {
  position: absolute;
  top: 10px;
  left: 68px;
  color: #e5e5e5;
  z-index: 10;
}

.table-form-select {
  width: 100%;
  border-radius: 6px;
  padding: 5px;
  border: 0.5px solid #e5e5e5;
  outline: none;
}

.table {
  background-color: #fff;
  overflow-x: auto;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #e5e5e5;
}

td {
  font-size: 14px;
}

.scrollable {
  overflow: hidden;
  width: 100%;
}
